---
import Social from "./Social.astro";
---

<footer>
  <nav class="flex">
    <Social netName="LinkedIn" lnk="www.google.com" />
    <li class="list-none px-1">Insta</li>
    <li class="list-none px-2">Face</li>
    <li class="list-none px-2">WP</li>
  </nav>
</footer>
