---

---

<nav class="flex">
  <li class="list-none px-1 hover:text-green-400">Inicial</li>
  <li class="list-none px-2 hover:text-green-400">Primaria</li>
  <li class="list-none px-2 hover:text-green-400">Secundaria</li>
</nav>
