---

---

<section>
  <h2 class="text-2xl text-sky-900">Inicial</h2>
  <p>Conocé Nuestro Jardin desde Sala de 2 años</p>
</section>

<section>
  <h2 class="text-2xl text-sky-900">Primario</h2>
  <p>Cuenta con Turno Mañana y Tarde</p>
  <p>Talleres de Robotica, Biologia, valores y màs!</p>
</section>

<section>
  <h2 class="text-2xl text-sky-900">Secundario</h2>
  <p>Nuestro Secundario cuenta con 3 Orientaciones</p>
  <ul>
    <li class="list-none">Ciencias Sociales</li>
    <li class="list-none">Economia y Administraciòn</li>
    <li class="list-none">Bachiller en Educacion Fisica</li>
  </ul>
</section>
