---
//import astroLogo from "../assets/astro.svg";
//import background from "../assets/background.svg";
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import Main from "./Main.astro";
import Footer from "./Footer.astro";
---

<div id="container" class="w-full min-h-screen bg-red-300">
  <main
    class="w-full min-h-screen max-w-[1200px] mx-auto px-4 sm:px-6 lg:px-8 bg-gray-400"
  >
    <Header />
    <Hero />
    <Main />
    <Footer />
  </main>
</div>

<style></style>
