---
//import astroLogo from "../assets/astro.svg";
//import background from "../assets/background.svg";
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import Main from "./Main.astro";
import Footer from "./Footer.astro";
---

<div id="container">
  <main>
    <Header />
    <Hero />
    <Main />
    <Footer />
  </main>
</div>

<style></style>
